<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>report.service.ReportService</listener-class>
    </listener>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>partfinder.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>partfinder.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPNServlet</servlet-name>
        <servlet-class>partfinder.servlet.SearchPNServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTableServlet</servlet-name>
        <servlet-class>partfinder.servlet.SearchTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserIpServlet</servlet-name>
        <servlet-class>access.servlet.GetUserIpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCSOServlet</servlet-name>
        <servlet-class>cso.servlet.UpdateCSOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCSOServlet</servlet-name>
        <servlet-class>cso.servlet.UploadCSOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCSOServlet</servlet-name>
        <servlet-class>cso.servlet.SearchCSOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCSOServlet</servlet-name>
        <servlet-class>cso.servlet.DeleteCSOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessServlet</servlet-name>
        <servlet-class>access.servlet.AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveChangeServlet</servlet-name>
        <servlet-class>cso.servlet.SaveChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSOReportServlet</servlet-name>
        <servlet-class>cso.servlet.CSOReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>cso.servlet.EmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailAddrServlet</servlet-name>
        <servlet-class>cso.servlet.EmailAddrServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSCRServlet</servlet-name>
        <servlet-class>scr.servlet.UpdateSCRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSCRServlet</servlet-name>
        <servlet-class>scr.servlet.SearchSCRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadSCRServlet</servlet-name>
        <servlet-class>scr.servlet.UploadSCRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCRReportServlet</servlet-name>
        <servlet-class>scr.servlet.SCRReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCREmailServlet</servlet-name>
        <servlet-class>scr.servlet.SCREmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetCSOServlet</servlet-name>
        <servlet-class>cso.servlet.ResetCSOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetSCRServlet</servlet-name>
        <servlet-class>scr.servlet.ResetSCRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveSCRChangesServlet</servlet-name>
        <servlet-class>scr.servlet.SaveSCRChangesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSOTreeServlet</servlet-name>
        <servlet-class>cso.servlet.CSOTreeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCRTreeServlet</servlet-name>
        <servlet-class>scr.servlet.SCRTreeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshChartServlet</servlet-name>
        <servlet-class>report.servlet.RefreshChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageExportService</servlet-name>
        <servlet-class>utils.ImageExportService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatchSearchServlet</servlet-name>
        <servlet-class>dispatch.servlet.DispatchSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDispatchServlet</servlet-name>
        <servlet-class>dispatch.servlet.UploadDispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDispatchServlet</servlet-name>
        <servlet-class>dispatch.servlet.UpdateDispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComplaintsSearchServlet</servlet-name>
        <servlet-class>complaints.servlet.ComplaintsSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadComplaintsServlet</servlet-name>
        <servlet-class>complaints.servlet.UploadComplaintsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateComplaintsServlet</servlet-name>
        <servlet-class>complaints.servlet.UpdateComplaintsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatchCatalogueServlet</servlet-name>
        <servlet-class>dispatch.servlet.DispatchCatalogueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComplaintsCatalogueServlet</servlet-name>
        <servlet-class>complaints.servlet.ComplaintsCatalogueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportComplaintsServlet</servlet-name>
        <servlet-class>complaints.servlet.ExportComplaintsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportDispatchServlet</servlet-name>
        <servlet-class>dispatch.servlet.ExportDispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribeServlet</servlet-name>
        <servlet-class>report.servlet.SubscribeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartFinderCatalogueServlet</servlet-name>
        <servlet-class>partfinder.servlet.PartFinderCatalogueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartFinderSearchServlet</servlet-name>
        <servlet-class>partfinder.servlet.PartFinderSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportPartFinderServlet</servlet-name>
        <servlet-class>partfinder.servlet.ExportPartFinderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSOCatalogueServlet</servlet-name>
        <servlet-class>cso.servlet.CSOCatalogueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSOSearchServlet</servlet-name>
        <servlet-class>cso.servlet.CSOSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportCSOServlet</servlet-name>
        <servlet-class>cso.servlet.ExportCSOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCRCatalogueServlet</servlet-name>
        <servlet-class>scr.servlet.SCRCatalogueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCRSearchServlet</servlet-name>
        <servlet-class>scr.servlet.SCRSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportSCRServlet</servlet-name>
        <servlet-class>scr.servlet.ExportSCRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IPAddressInfoServlet</servlet-name>
        <servlet-class>access.servlet.IPAddressInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DayAccessServlet</servlet-name>
        <servlet-class>access.servlet.DayAccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalAccessServlet</servlet-name>
        <servlet-class>access.servlet.TotalAccessServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TotalAccessServlet</servlet-name>
        <url-pattern>/totalAccess.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DayAccessServlet</servlet-name>
        <url-pattern>/dayAccess.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IPAddressInfoServlet</servlet-name>
        <url-pattern>/ipAddressInfo.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportSCRServlet</servlet-name>
        <url-pattern>/exportSCR.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCRSearchServlet</servlet-name>
        <url-pattern>/scrSearch.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCRCatalogueServlet</servlet-name>
        <url-pattern>/scrCatalogue.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportCSOServlet</servlet-name>
        <url-pattern>/exportCSO.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSOSearchServlet</servlet-name>
        <url-pattern>/csoSearch.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSOCatalogueServlet</servlet-name>
        <url-pattern>/csoCatalogue.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportPartFinderServlet</servlet-name>
        <url-pattern>/exportPartFinder.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartFinderSearchServlet</servlet-name>
        <url-pattern>/partFinderSearch.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartFinderCatalogueServlet</servlet-name>
        <url-pattern>/partFinderCatalogue.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribeServlet</servlet-name>
        <url-pattern>/subscribe.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportDispatchServlet</servlet-name>
        <url-pattern>/exportDispatch.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportComplaintsServlet</servlet-name>
        <url-pattern>/exportComplaints.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComplaintsCatalogueServlet</servlet-name>
        <url-pattern>/complaintsCatalogue.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatchCatalogueServlet</servlet-name>
        <url-pattern>/dispatchCatalogue.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadComplaintsServlet</servlet-name>
        <url-pattern>/uploadComplaints.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateComplaintsServlet</servlet-name>
        <url-pattern>/updateComplaints.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComplaintsSearchServlet</servlet-name>
        <url-pattern>/complaintsSearch.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDispatchServlet</servlet-name>
        <url-pattern>/updateDispatch.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDispatchServlet</servlet-name>
        <url-pattern>/uploadDispatch.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatchSearchServlet</servlet-name>
        <url-pattern>/dispatchSearch.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageExportService</servlet-name>
        <url-pattern>/imageExportService.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshChartServlet</servlet-name>
        <url-pattern>/refresh.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSOReportServlet</servlet-name>
        <url-pattern>/csoreport.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveChangeServlet</servlet-name>
        <url-pattern>/save.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSCRServlet</servlet-name>
        <url-pattern>/updateSCR.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCRReportServlet</servlet-name>
        <url-pattern>/scrreport.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCRTreeServlet</servlet-name>
        <url-pattern>/scrtree.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSOTreeServlet</servlet-name>
        <url-pattern>/csotree.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveSCRChangesServlet</servlet-name>
        <url-pattern>/savescr.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetSCRServlet</servlet-name>
        <url-pattern>/resetscr.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetCSOServlet</servlet-name>
        <url-pattern>/resetcso.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCREmailServlet</servlet-name>
        <url-pattern>/scremail.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadSCRServlet</servlet-name>
        <url-pattern>/uploadSCR.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSCRServlet</servlet-name>
        <url-pattern>/searchSCR.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailAddrServlet</servlet-name>
        <url-pattern>/addr.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/email.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessServlet</servlet-name>
        <url-pattern>/access.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCSOServlet</servlet-name>
        <url-pattern>/deleteCSO.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCSOServlet</servlet-name>
        <url-pattern>/searchCSO.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCSOServlet</servlet-name>
        <url-pattern>/uploadCSO.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCSOServlet</servlet-name>
        <url-pattern>/updateCSO.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserIpServlet</servlet-name>
        <url-pattern>/get_ip.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTableServlet</servlet-name>
        <url-pattern>/search_table.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPNServlet</servlet-name>
        <url-pattern>/search_pn.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload.action</url-pattern>
    </servlet-mapping>

</web-app>
